*{
    box-sizing: border-box;

}
h1{
    font-family: "Playpen";
    color: white;
    text-align: center;
    background-color: blue;
padding: 20px 0;

}
p{
    color: rgb(128, 94, 0);
    font-size: 24px;
    direction: ltr;
    text-decoration:underline;
    
}

h1:hover{
    color: brown;
}
p::first-line{
    color: blueviolet;
}

.caja-padre{
    background-color: red;
    width: 300px;
    height: 300px;
}
.caja-hijo{
    background-color: blue;
    width: 150px;
    height: 150px;
}